body {
  color: #875b35;
  font-family: 'Lato', sans-serif;
}
input, textarea, button {
    outline: none;
}

.form-control:focus {
  border: 2px solid #000011;
  outline: none;
  border-color: #008966;
}

.header {
  text-align: center;
  color: #875b35;
}

#panel {
  padding: 20px;
  color: #875b35;
  margin: 0 auto;
  display: none;
}

#logo {
  width: 200px;
  height: 120px;
  margin-top:20px;
}

.nav-link {
    margin: 0px 10px 0px 10px;
    color: #875b35;
    display: inline-block;
	position: relative;
	padding-bottom: 3 px;
    text-decoration: none !important;
}

.nav-link:after {
    content: '';
	display: block;
	margin: auto;
    margin-top: 5px;
	height: 3px; 
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
    text-decoration: none;
}

.nav-link:hover {
    color: #008766;
}

.nav-link:hover:after {
    width: 100%;
	background: #008766;
    text-decoration: none;
}

.active-link:visited {/*this is a link colour to be called on whatever page is actie currently*/
    color: #008766;
    text-decoration: none;
    border-bottom: 2px solid #008766;
    margin-bottom: 10px;
    padding: 0px;
}

#mainText {
  font-family: 'Libre Baskerville', serif;
}

.custom-btn {
  background-color: #008966;
  border-color: #008966;
  color: #fff;
}

#flip {
  text-align: center;
  padding: 5px;
  max-width: 150px;
  margin: auto;
  color: #6c6c68;
  border: 1px solid #008966;
  text-transform: uppercase;
  font-size: 1em;
}

#panel {
  background-color: #fff;
}

#flip:hover {
  background-color: #008966;
  color: white;
}

/*
   media queries
*/
@media only screen and (max-width: 600px) {
  .h4 {
    margin: 0 auto;
  }
}


hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: #875b35;
    border-width: 1px 0 0 0;
    
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-color: #875b35;
    border-color: black;
    border-width: 0 0 1px 0;
   
}



div > h2 {
  display:inline-block;
  padding-left:33px;
  font-size:20px;
}
